// font-size by default will be 16px
body {
	// Those things is the majority uses
	line-height: 1;
	font-family: $font;
	color: $text-color;
	font-weight: 400;
	background-color: white;
}

button {
	cursor: pointer;
	outline: none;
	border: none;
	font-family: $font;
}

.wrapper {
	// Based on the design. the page has the width of 1440px
	max-width: 1440px;
	// Imagine all the blocks like stacks, the above is 0, and center it by default
	margin: 0 auto;
}

// Find the largest (container) block, and take its property to be default
.container {
	// Based on the design, max width of it is 1140px?
	// But we add some padding so it will  be 1170px (so the real things are 1140?)
	max-width: 1170px;
	// Center all the element (or all the tag) inside
	margin: 0 auto;
	// Put it some padding, so the elements (tags) in the next is not stick together
	padding: 0 15px;
}

.button {
	display: inline-block;
	padding: 13px 45px;
	border-radius: 100rem;
	font-family: $font;
	line-height: 1;
	font-size: 16px;
	cursor: pointer;
	border: none;
	outline: none;
	text-align: center;
	white-space: nowrap;

	&--primary {
		font-weight: 700;
		background-color: $primary-color;
		color: white;
  }

	&--outline {
		background-color: transparent;
		color: $primary-color;
		font-weight: 500;
		border: 1px solid;
  	}

	&--rounded {
		border-radius: 10px;
		padding: 17px 65px;
  	}

	&--shadow {
    	position: relative;
		
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			width: 90%;
			height: 100%;
			transform: translate(-50%, 50%);
			background-color: rgba(245, 56, 56, 0.35);
			filter: blur(54px);
			border-radius: inherit;
    	}
  	}
}

.boxed {
	max-width: 555px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.button {
    	padding: 13px 26px;
  	}
}
